nav {
	background-color: rgb(27, 55, 84);
	/* background-color: #8080ff; */
	/* #e7fafe;  #140330*/
	outline: 0.5px solid yellow;

	color: rgb(255, 255, 255); //? check
	padding: 1rem var(--space-x); // nicht mehr als ca 60px, 3.75rem versuchen
	display: flex;
	align-items: center;
	justify-content: space-between;
    box-sizing: border-box;

	a {
		color: rgb(255, 255, 255);
		text-decoration: none;
		//font-weight: bold;

        &:hover {
            color: rgba(255,255,255,0.8);
        }
	}

    div {
        display: flex;
        align-items: center;

        a, form {
            margin-left: 2rem;
        }
    }

    .logo {
        font-size: 1.25rem;
        margin-left: 0rem !important;
    }

}

.search-form {
    display: flex;
    // margin: 0 0.5rem;

    input, button {
        //border-radius: 4px;
        padding: 0.5rem;
        outline: none;
        border: 1px solid transparent;
        font-family: inherit;
    }

    input {
        border-radius: 4px 0 0 4px;
    }

    button {
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        color: rgb(27, 55, 84);
        font-weight: bold;
        border-left: 0.1px solid rgb(27, 55, 84, 0.5);
        // btn-style: TESt like bs btn-outline-info ?
        box-sizing: border-box;
        
        &:hover {
            background-color: rgba(193, 193, 193, 0.8);
            color: rgb(0, 255, 213);
            border: 1px solid rgb(0, 255, 213);
            // GN 
            input{
                border: 1px solid rgb(0, 255, 213) !important;
                border: 1px solid yellow;
            }
        }
    }
}
