<!-- Navbar -->
<!-- collapse: https://ng-bootstrap.github.io/#/components/collapse/examples -->

<nav id="navbar">

        <div class="nav-logo-container">
            <a class="logo" routerLink="/">FiNotions</a>
            <!-- navbar toggle button -->
            <button class="navbar-toggler-btn d-none" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
	        <!-- END navbar-toggle-button -->
        </div>

        <div class="">

			<a class="" routerLink="/" routerLinkActive="active-navlink" [routerLinkActiveOptions]="{ exact: true }">Notes</a>
			<a class="" routerLink="/trash" routerLinkActive="active-navlink">Trash</a>

		    <!-- Searchbar (eigene component?) -->
		    <form class="me-5 search-form">
			    <input class="form-control me-2" type="search" placeholder="Search Notes" aria-label="Search" />
			    <button class="btn btn-outline-info" type="submit">Search</button>
		    </form>
		    <!-- End: Searchbar -->
		
			<a class="info-link" (click)="navigateTo('footer')">Info</a>
			<!-- <a class="nav-link" href="#footer">Contact</a> -->
        </div>
		

</nav>
