.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.note-card {

    h4 {

        cursor: pointer;

        &:hover {
        	transform: scale(1.01);
        	color: rgb(0, 222, 185);
        }
    }
}

//GN
// app-note:nth-child(2n) {
// 	&:hover {
//         transform: scale(1.025);
// 		border: 1px solid red;
//         z-index: 2;
// 	}
// }
// app-note:nth-child(2n+1) {
// 	&:hover {
// 		border: 1px solid yellow;
// 	}
// }