<!-- FORM: create new note -->
<div class="form-container">
    <app-note-form (submitNote)="onSaveNote($event)"></app-note-form>
</div>
<!-- container to display notes -->
<div class="notes-container">
    <!-- single note components -->
    <span *ngFor="let note of notes">
        <app-note
            [title]="note.title"
            [body]="note.body"
            [id]="note.id"
            (openNote)="onOpenNote($event)"
            (trashNote)="onTrashNote($event)"
            (editNote)="onEditNote($event)">
        </app-note>
    </span>
</div>
<!-- modal / dialog to show note detail-view-->
<app-modal
    *ngIf="openModal"
    [title]="modalTitle"
    [body]="modalBody"
    (closeModal)="onCloseNote($event)"
    >
</app-modal>