.note-card {
	width: 200px;
	border-radius: 4px;
	border: 0.5px solid rgb(0, 255, 213);
	box-shadow: 1px 1px 5px rgb(0, 0, 0);
	cursor: pointer;
	transition: all 235ms;
	position: relative;
    background-color: rgba(250, 250, 250, 0.5);

	&::before {
        content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		// background-color: rgb(128, 128, 128, 0.5);
		background-image: url('https://picsum.photos/200?grayscale');
		background-size: cover;
		opacity: 0.5;
        border-radius: 4px;
	}

	&:not(button):hover {
		transform: scale(1.025);

			.tooltip-text {
				display: block;
			}
    }

	.note-card-body {
		padding: 1rem;
		//color: white;
		//font-weight: bold;
		position: relative; //keeps el on top of pseudo-elements and bg image. This will make fonts etc. default to opacity 1 over transparent overlay
	}

	.card-btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		&:hover {
			.tooltip-text {
				display: none !important; // GN !!!
				border: 2px solid green;
			}
		}
		
		button {
			font-family: inherit;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			color: rgb(27, 55, 84);
			font-weight: bold;
			padding: 0.5rem 1rem;
			transition: all 235ms;
            
			&:hover {
                // background-color: rgba(240, 240, 240, 0.8);
				background-color: rgb(61, 61, 92, 0.8);
				transform: scale(1.05);

                .tooltip-text {
                    display: none; // GN !!!
                }
			}

		}
	}
}

.tooltip-text {
	display: none;
	font-size: 0.9rem;
	width: 8rem;
	background-color: rgb(0, 0, 26, 0.4);
	border: 0.05rem solid orange;
	color: white;
	text-align: center;
	padding: 0.3px 0;
	border-radius: 0.4rem;
	position: absolute;
	top: -8px;
	right: -4px;
	z-index: 1;
    // opacity: 0.8;

}

button:nth-child(1):hover {
    outline: 1px solid orange;
	color: orange !important;
}

button:nth-child(2):hover {
	outline: 1px solid red;
	color: red !important;
}

// GN
.note-card:nth-child(2n) {
	&:hover {
		border: 1px solid red;
	}
}

.note-card:nth-child(2n+1) {
	&:hover {
		border: 1px solid yellow;
	}
}

