<!-- single note component -->
<div class="note-card" [class.edit-form-style]="editMode">
    <span class="note-card-top">
        <!-- <span *ngIf="!editMode" class="tooltip-text">Click title to open detail-view</span> -->
    </span>
    <div *ngIf="!editMode" class="note-card-body">
        <h4 (click)="onEmitOpenEvent()" 
            [class.title-link]="!trashView"
            title="{{ !trashView ? 'Click on title to open card' : '' }}">
            {{ title }}
        </h4>
        <p>
            {{ body }}
        </p>
        <div *ngIf="!trashView" class="card-btns">
            <button (click)="openEdit()">Edit</button>
            <button (click)="emitTrashEvent()">Trash</button>
        </div>
        <div *ngIf="trashView" class="card-btns">
            <button (click)="emitRestoreEvent()">Restore</button>
            <button (click)="emitDeleteEvent()">Delete</button>
        </div>
    </div>

    <!-- edit card - body: inputs (dry: s. note-form component - (mb own component for form-body with inputs) ) -->
    <div *ngIf="editMode" class="note-card-body">
        <input type="text" name="title" placeholder="Title" [(ngModel)]=" title " />
        <textarea name="body" placeholder="Content..." rows="4" [(ngModel)]=" body "></textarea>
        <div class="card-btns">
            <button (click)="emitEditEvent()">Save</button>
            <button (click)="closeEdit()">Back</button>
        </div>
    </div>

</div>
